:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color: rgba(255, 255, 255, 0.87);
	background-color: #00131b;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--wite-color: #fff;
	--primary-color: #0098da;
	--second-color: #00131b;
}

.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}